@font-face {
    font-family: TitleFont;
    src: url(AppleSDGothicNeoH.ttf);
}

@font-face {
    font-family: SubFont;
    src: url(FontsFree-Net-AvenirLTStd-Book.ttf)

}

#logo {
  margin-left: 10px;
}

.header {
  overflow: hidden;
  background-color: #7dadc1;
  padding: 10px 10px;
  box-shadow: 7px 8px #507c91;
}

body {
  background-image: url("Website-background.png");
  background-size: cover;
  background-color: #59719e;
}

.TestJezelfButton {
    position: relative;
    height: 200px;
    margin-top: 200px;
}

#TestButton {
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    font-family: TitleFont;
    text-decoration: none;
    background-color: #d81159;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 8px 8px #91507d;

    display: inline-block;
    transition: transform 0.2s ease;
}

#TestButton:hover {
  transform: scale(1.1);
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    vertical-align: center;
    text-align: center;
}

.vertical-center p {
    text-align: center;
    font-size: 20px;
    font-family: TitleFont;
    color: white;
}

.header a {
  float: left;
  color: white;
  font-family: TitleFont;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  transform: scale(1.1);
  color: black;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
