@font-face {
    font-family: TitleFont;
    src: url(AppleSDGothicNeoH.ttf);
}

@font-face {
    font-family: SubFont;
    src: url(FontsFree-Net-AvenirLTStd-Book.ttf)
}

h1 {
  font-family: TitleFont;
}

p {
  font-family: SubFont;
}

.header {
  overflow: hidden;
  background-color: #7dadc1;
  padding: 10px 10px;
  box-shadow: 7px 8px #507c91;
}

body {
    background-color: #59719e;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
    vertical-align: center;
}

.header a {
  float: left;
  color: white;
  font-family: TitleFont;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.header a:hover {
  transform: scale(1.1);
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

#blocks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#inzichtblock:hover, #strategieblock:hover, #conceptblock:hover, #uitvoeringblock:hover {
  transform: scale(1.1);
}

.block {
  color: white;
  border-radius: 20px;
  padding: 30px;
  width: 250px;
  margin-top: 100px;
  margin-bottom: 50px;
  height: 500px;
  margin-right: 25px;
  transition: transform .1s;
}

#inzichtblock {
  background-color: #d71b5a;
  box-shadow: 15px 15px #fa397a;
}

#strategieblock {
  background-color: #50ae38;
  transition: transform .1s;
  box-shadow: 15px 15px #66ba50;
}

#conceptblock {
  background-color: #8217d9;
  box-shadow: 15px 15px #9c32f2;
}

#uitvoeringblock {
  background-color: #6494aa;
  box-shadow: 15px 15px #7dadc1;
}